.logo-name{font-family:'Roboto Slab',serif;text-transform:uppercase;letter-spacing:.1rem;color:#000}
.logo{width:3rem;height:3rem;border-radius:50%}
#wrapper{overflow-x:hidden}
#sidebar-wrapper{min-height:100vh;margin-left:-15rem;transition:all .25s ease-out}
#sidebar-wrapper .sidebar-heading{padding:.875rem 1.25rem;font-size:1.2rem}
#sidebar-wrapper .list-group{width:15rem}
#dashboard-content-wrapper,#feedback-content-wrapper,#page-content-wrapper{min-width:100vw}
#wrapper.toggled #sidebar-wrapper{margin-left:0}
#menu-toggle{cursor:pointer}
.list-group-item{border:none;padding:20px 30px}
.list-group-item.active{background-color:transparent;font-weight:700;border:none}
@media (min-width:768px){
#sidebar-wrapper{margin-left:0}
#dashboard-content-wrapper,#feedback-content-wrapper,#page-content-wrapper{min-width:0;width:100%}
#wrapper.toggled #sidebar-wrapper{margin-left:-15rem}
}
